/* stylelint-disable */

@font-face {
	font-family: 'Heading-Pro';
	src: url("../fonts/Heading-Pro/HeadingPro-Regular.woff2") format("woff2"),
		url("../fonts/Heading-Pro/HeadingPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Heading-Pro';
	src: url("../fonts/Heading-Pro/HeadingPro-Bold.woff2") format("woff2"),
		url("../fonts/Heading-Pro/HeadingPro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Heading-Pro';
	src: url("../fonts/Heading-Pro/HeadingPro-Heavy.woff2") format("woff2"),
		url("../fonts/Heading-Pro/HeadingPro-Heavy.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'TTNormsPro';
	src: url("../fonts/TTNormsPro/TTNormsPro-Regular.woff2") format("woff2"),
		url("../fonts/TTNormsPro/TTNormsPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'TTNormsPro';
	src: url("../fonts/TTNormsPro/TTNormsPro-Medium.woff2") format("woff2"),
		url("../fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'TTNormsPro';
	src: url("../fonts/TTNormsPro/TTNormsPro-Bold.woff2") format("woff2"),
		url("../fonts/TTNormsPro/TTNormsPro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
