
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-color: #282829;
        background-position: center;
        background-image: url("../media/section/face.jpg");
    }

    &_info {
        overflow: hidden;
        background-color: #fdf3fc;
        background-position: center top;
        background-image: url("../media/section/info.jpg");
    }

    &_causes {
        background-color: #282829;
        background-position: left bottom;
        background-image: url("../media/section/causes.jpg");
    }

    &_strenh {
        background-position: center;
        background-image: url("../media/section/strenh.jpg");
        background-size: contain;
    }

    &_def {
        background-color: #fdf3fc;
    }
}

@media (max-width: 1280px) {
    .section {
        &_info {
            background-position: -170px top;
        }

        &_causes {
            background-position: center bottom;
            background-size: 400px;
            padding-bottom: 300px;
        }

        &_strenh {
            background-image: none;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_causes {
            background-image: url("../media/section/causes-768.png");
            padding-bottom: 300px;
            background-size: auto;
        }
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            background-position: center 340px;
            background-image: url("../media/section/face-480.jpg");
        }

        &_causes {
            background-color: #040404;
            padding-bottom: 30px;
            background-position: center 220px;
        }
    }
}
