<section class="section section_causes">
    <div class="container">
        <div class="causes">
            <div class="causes__title"><mark>Причины</mark> нарушения эрекции</div>
            <div class="causes__body">
                <div class="causes__subtitle">Эректильная дисфункция может быть вызвана следующими факторами (или их сочетанием):</div>
                <div class="causes__box">
                    <div class="causes__item"><mark>Метаболический синдром</mark> – состояние, характеризующееся повышенным кровяным давлением, высоким уровнем инсулина и холестерола, наличием жира вокруг талии.</div>
                    <div class="causes__item"><mark>Системные заболевания</mark> (диабет, склеродермия, почечная недостаточность, цирроз печени, гемохроматоз, рак и его лечение).Неврологические причины (эпилепсия, инсульт, рассеянный склероз, синдром Гийена – Барре, болезнь Альцгеймера).</div>
                    <div class="causes__item"><mark>Приапизм</mark> (заболевание, при котором происходит длительная болезненная эрекция, не связанная с половым возбуждением).</div>
                    <div class="causes__item"><mark>Прием некоторых лекарственных препаратов</mark> (антидепрессантов, антигистаминных средств, лекарств для лечения повышенного кровяного давления, аденомы или рака простаты).</div>
                </div>
                <div class="causes__box">
                    <div class="causes__item"><mark>Сосудистые заболевания.</mark></div>
                    <div class="causes__item"><mark>Высокий уровень холестерола</mark> в крови, ожирение.</div>
                    <div class="causes__item"><mark>Болезнь Паркинсона.</mark></div>
                    <div class="causes__item"><mark>Гормональные </mark>заболевания.</div>
                    <div class="causes__item"><mark>Курение.</mark></div>
                    <div class="causes__item"><mark>Алкоголизм, </mark> наркомания.</div>
                    <div class="causes__item"><mark>Операции или травмы </mark> в области таза или спинного мозга.</div>
                </div>
            </div>
        </div>
    </div>
</section>