<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">Отзывы о Fortolex</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <!-- <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div> -->
                    <div class="commits__name">Ева Штольц, <span>34 года</span></div>
                    <div class="commits__description">У бабушки по папиной линии был вальгус. Я ее совсем недолго видела, но этот кошмар на ногах запомнила хорошо. А после 30 лет такой же кошмар появился и у меня. Уродливая шишка заставила полностью перейти на закрытую обувь, от которой становилось только хуже. И главное, от нее ничего не помогало, пока не нашла Fortolex. Припухлость стала уменьшаться, прошла отечность, пальцы стали выравниваться. Сейчас стараюсь выбирать только комфортную обувь, чтобы никогда не возвращаться к этому кошмару.</div>
                </div>
                <div class="commits__item">
                    <!-- <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div> -->
                    <div class="commits__name">Инга Бэкманн, <span>41 год</span></div>
                    <div class="commits__description">Косточка на ноге – это очень-очень больно и некрасиво, она вызывает проблемы при ходьбе, подборе обуви и во время ее носки. Это я поняла на личном примере. С возрастом размер ноги стал больше, появилось поперечное плоскостопие. Врачи говорили, что поможет только операция, но я до жути боюсь хирургического вмешательства. Поэтому решила использовать менее инвазивные методы. Так я и наткнулась на Fortolex. Этот крем помог быстро избавиться от шишки на ноге, проблем с ногами как не бывало. Отличное средство!</div>
                </div>
                <div class="commits__item">
                    <!-- <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div> -->
                    <div class="commits__name">Ирэн Навальски, <span>53 года</span></div>
                    <div class="commits__description">Чтобы убрать косточку на ноге, я очень много читала и консультировалась с врачами. Но ни народное лечение, ни аптечные средства и лечебная физкультура с физиотерапией мне не помогли. Косточка только росла. Сейчас для устранения этого дефекта я делаю массаж стопы с применением крема Fortolex. И я очень удивлена результатом. Он есть! За три недели применения воспаление и припухлость на суставе почти прошли, продолжаю пользоваться. И всем рекомендую.</div>
                </div>
            </div>
        </div>
        <div class="alarm">
            <div class="alarm-wrap">
                <div class="alarm-left">
                    <h3 class="alarm-title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></h3>
                </div>
                <div class="alarm-right">
                <p class="alarm-text">Количество упаковок с Fortolex, необходимое для желаемого результата, <b>определяется индивидуально и в отдельных случаях может увеличиться.</b></b></p>
                </div>
            </div>
        </div>
    </div>
</section>