<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">Отзывы покупателей</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <!-- <div class="commits__face"><img src="../media/commits/img-1.jpg" alt=""></div> -->
                    <div class="commits__name">Ева Штольц, <span>34 года</span></div>
                    <div class="commits__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo a nunc porta feugiat id eget mi. Nulla sed convallis nulla. Fusce purus augue, tincidunt non mollis vel, condimentum eget dui. Donec semper, leo sit amet elementum euismod, sapien lorem pulvinar massa, sit amet tempus dolor mauris id nulla. Nunc ac euismod diam. Sed quis neque vel sapien pellentesque faucibus et vitae lorem. Donec auctor tortor augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo a nunc porta feugiat id eget mi. Nulla sed convallis nulla. Fusce purus augue, tincidunt non mollis vel, condimentum eget dui.</div>
                </div>
                <div class="commits__item">
                    <!-- <div class="commits__face"><img src="../media/commits/img-2.jpg" alt=""></div> -->
                    <div class="commits__name">Инга Бэкманн, <span>41 год</span></div>
                    <div class="commits__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo a nunc porta feugiat id eget mi. Nulla sed convallis nulla. Fusce purus augue, tincidunt non mollis vel, condimentum eget dui. Donec semper, leo sit amet elementum euismod, sapien lorem pulvinar massa, sit amet tempus dolor mauris id nulla. Nunc ac euismod diam. Sed quis neque vel sapien pellentesque faucibus et vitae lorem. Donec auctor tortor augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo a nunc porta feugiat id eget mi. Nulla sed convallis nulla. Fusce purus augue, tincidunt non mollis vel, condimentum eget dui.</div>
                </div>
                <div class="commits__item">
                    <!-- <div class="commits__face"><img src="../media/commits/img-3.jpg" alt=""></div> -->
                    <div class="commits__name">Ирэн Навальски, <span>53 года</span></div>
                    <div class="commits__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo a nunc porta feugiat id eget mi. Nulla sed convallis nulla. Fusce purus augue, tincidunt non mollis vel, condimentum eget dui. Donec semper, leo sit amet elementum euismod, sapien lorem pulvinar massa, sit amet tempus dolor mauris id nulla. Nunc ac euismod diam. Sed quis neque vel sapien pellentesque faucibus et vitae lorem. Donec auctor tortor augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in leo a nunc porta feugiat id eget mi. Nulla sed convallis nulla. Fusce purus augue, tincidunt non mollis vel, condimentum eget dui.</div>
                </div>
            </div>
        </div>
    </div>
</section>