<section class="section section_def">
    <div class="container">
        <div class="def">
            <div class="def__box">
                <div class="def__title">Vitanax – <span>безопасный способ вернуть здоровую эрекцию</span></div>
                <div class="def__subtitle">Научные исследования, проводимые в рамках добровольной программы улучшения мужского здоровья, доказали:</div>
            </div>
            <div class="def__box">
                <div class="def__item"><p><span>98%</span> Lorem ipsum dolor sit amet.</p></div>
                <div class="def__item"><p><span>98%</span> Lorem ipsum dolor sit amet.</p></div>
                <div class="def__item"><p><span>98%</span> Lorem ipsum dolor sit amet.</p></div>
                <div class="def__item"><p><span>98%</span> Lorem ipsum dolor sit amet.</p></div>
            </div>
        </div>
    </div>
</section>