<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Fortolex</div>
                <div class="face__title"><b>Вылечите</b> <mark>hallux valgus</mark> без операции</div>
                <div class="face__list">
                    <div>Доступно</div>
                    <div>Эффективно</div>
                    <div>Комфортно</div>
                </div>
            </div>
            <div class="face__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>