<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Vitanax</div>
                <div class="face__title">Крепкая потенция</div>
                <div class="face__subtitle"><span>в любом возрасте</span> <span>в любой ситуации</span></div>
                <div class="face__list">
                    <div><p><b>Повышает</b> либидо</p></div>
                    <div><p><b>Усиливает</b> эрекцию</p></div>
                    <div><p><b>Продлевает</b> половой акт</p></div>
                </div>
            </div>
            <div class="face__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>