<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__head">
                <div class="info__title">Каждый третий мужчина по всему миру знает, <mark>что такое слабая эрекция.</mark></div>
                <div class="info__description">
                    <p>Перенервничал, устал, слишком много выпил – причин самоуспокоения можно найти много. Мужские журналы всячески способствуют тому, чтобы укрепить хрупкое эго, и этим делают только хуже.</p>
                    <p>Вы можете не признавать проблему сколько угодно, но сама по себе она не решится.</p>
                </div>
                <div class="info__footer">
                    <p>В норме эрекция возникает при возникновении полового возбуждения в головном мозге или при механическом раздражении члена или мошонки. Это опосредуется через нервный центр, расположенный в поясничном отделе спинного мозга, импульсы которого поступают к сосудам и мышцам пениса. Как следствие, происходит приток крови к половому члену через артерии.</p>
                    <p>Мышцы кавернозных тел (пещеристые губчатые тела, из которых состоит пенис) расслабляются, кровь заполняет их, в результате член увеличивается и становится твердым. После наполнения члена кровью ее отток из него блокируется из-за сокращения мышц малого таза.</p>
                </div>
                <div class="info__formul">
                    <p>Эрекция тесно связана с тестостероном – половым гормоном мужчины. Она представляет собой сложный процесс, реализуемый согласованной работой центральной и периферической нервной системы, различных гормонов, кровеносных артерий, сосудов и мышц. Нарушение функционирования любого звена системы может существенно влиять на способность мужчины испытывать эрекцию, эякулировать (выделять сперму) и испытывать оргазм. </p>
                </div>
            </div>
        </div>
    </div>
</section>