<section class="section section_prof">
	<div class="container">
		<div class="prof">
			<div class="prof__title">Мнение независимого эксперта</div>
			<div class="prof__body">
                <div class="prof__human"></div>
                <p>Ко мне приходят парни и мужчины – чаще всего с последствиями приема силденафила. Одна осечка, и мужчина уже готов травить организм химикатами, лишь бы вернуть половую силу (можно так?).</p>
                <p>Прием препаратов с силденафилом в составе неминуемо ведет к проблемам с сердцем, а в некотором случае и более тяжелым последствиях – например, к инфаркту. Да, есть случаи, когда здоровый молодой мужчина заканчивал жизнь во время полового акта.  Как мужчина, я мог бы их понять. Как врача, такое положение дел меня крайне расстраивает. Потому что избавляться от причины слабой потенции гораздо проще, чем лечить половую дисфункцию на фоне безобразного приема сильнейших рецептурных препаратов.</p>
                <p>Первопричиной ослабления эрекции чаще всего становится застой крови в органах малого таза. Плохая циркуляция крови – плохое поступление ее в пещеристое тело пениса. Если речь не об инфекционных заболеваниях, которые проявляют себя рядом других негативных симптомов, то и твердую эрекцию можно вернуть без химического и уж тем более оперативного вмешательства.</p>
                <p>Для это я рекомендую натуральный препарат – белково-пептидный комплекс Vitanax. Он изготовлен из ____</p>
            </div>
			<div class="prof__footer">
				<div>
                    <div class="prof__name">Андрей Морозов,</div>
				    <div class="prof__job">главный врач Научно-исследовательского центра профилактической медицины</div>
                </div>
				<div class="prof__media">
					<img src="../media/prof/id.png" alt="">
				</div>
			</div>
		</div>
		<div class="alarm">
            <div class="alarm-wrap">
                <div class="alarm-left">
                    <h3 class="alarm-title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></h3>
                </div>
                <div class="alarm-right">
                <p class="alarm-text">Количество упаковок с Vitanax, необходимое для желаемого результата, <b>определяется индивидуально и в отдельных случаях может увеличиться.</b></b></p>
                </div>
            </div>
        </div>
	</div>
</section>