<section class="section section_strenh">
    <div class="container">
        <div class="strenh">
            <div class="strenh__title">Сила быка <span>у тебя</span> <mark>в штанах</mark></div>
            <div class="strenh__subtitle">Vitanax – это биогенный комплекс, состоящий из изоформы альбумина сыворотки крови быка.</div>
            <div class="strenh__product"><img src="./media/product.png" alt=""><img src="./media/strenh/product.jpg" alt=""></div>
            <div class="strenh__btn btn">Заказать сейчас</div>
        </div>
    </div>
</section>